# Supabase Configuration
VITE_SUPABASE_URL=https://jbzmwivigcsibblmmnjc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impiem13aXZpZ2NzaWJibG1tbmpjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxMjgzMjIsImV4cCI6MjA5NzcwNDMyMn0.8G6P2SwZPm39OCXKvYGQfS-ZMFyvjOEiMjE7jOQHEjM
